@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --amarelo: #f9f871;
    --roxo-degrade: linear-gradient(97.54deg, #d65db1 35.49%, #ff6f91 165.37%);
    --fonte-principal: "Poppins";
    --azul: #845ec2;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
